* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

canvas {
    margin: 0 auto;
    display: block;
}

#startButton {
    background: #0f0;
    margin: 0 auto;
    text-align: center;
}

.circle {
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    position: absolute;
    bottom: 12.5%;
    left: 62.5%;
}

.shootButton {
    background: #ff0000;
    left: 12.5%;
}

.joyBase {
    background: #ff00ff;
}

.joyStick {
    background: #00ff00;
}