* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

canvas {
    margin: 0 auto;
    display: block;
}

#startButton {
    width: 100px;
    height: 100vh;
    background: #f0f;
    margin: 0 auto;
}

.tracker {
    width: 10px;
    height: 10px;
    background: #f0f;
    position: absolute;
    display: none;
}
