* {
    box-sizing: border-box;
}

section {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: end;
    align-items: flex-end;
    width: 7rem;
    height: 2000px;
}